.card-title{
    font-family: "Escrow Condensed", Georgia, serif;
}

.card-body p{
    font-family: Retina, Arial, Helvetica, sans-serif;
    color: rgb(155, 151, 151);
    font-size: 14px;
    text-align: start;
}